.viewer-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity .5s;
  user-select: none;
}

.viewer-wrap {
  height: 100%;
  font-size: 0;
  background: rgba(0, 0, 0, .9);
}

.viewer-open {
  overflow: hidden;
  position: fixed;
}

.viewer-show {
  display: block;
}

.viewer-fade-in {
  opacity: 1;
}

.viewer-image-wrap {
  position: absolute;
  background: rgba(0, 0, 0, .9);
}

.viewer-header {
  position: absolute;
  /* top: 0;
  z-index: 1; */
}

.viewer-image-zoom {
  transition: all .3s;
}

/* .viewer-close {
  font-size: 20px;
  color: #fff;
} */